body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-link {
  text-decoration:  none;
  color: rgb(107, 106, 106);
}


.scrollCustom::-webkit-scrollbar {
  width: 2px; 
  height: 5px;

}

.scrollCustom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 
  width: 4px;
  
  height: 4px;
}


.scrollCustom * {
  scrollbar-color: #888 transparent; 
  scrollbar-width: thin; 
}


.scrollCustom *::-ms-scrollbar {
  width: 2px; 
}

.scrollCustom *::-ms-scrollbar-thumb {
  background: #888;
  border-radius: 4px; 
  width: 4px;
  height: 4px;
}